// Bootstrap functions
@import "~bootstrap/scss/functions";

// Core variables and mixins
@import "../../../scss/helpers";

.button-add {
  position: fixed;
  top: 50px;
  right: 50px;
}

.app-staff-members-list {
  position: fixed;
  left: 80px;

}

.staff-member-selector {
  width: 30px;
  height: 3px;
  background: $white;
  position: fixed;
  top: 50vh;
  left: 27px;
}
