<main>
  <div class="nav-other__close">
    <a
      *ngIf="!addingStaff"
      (click)="currentStandupService.clearCurrentStandup()"
      (click)="location.back()"
    >
      <span>x</span>
    </a>
    <span 
      *ngIf="addingStaff"
      (click)="notAddingStaff()"
    >x</span>
  </div>
  <div 
    class="positions-line__container"
    [ngClass]="{'adding-staff' : addingStaff }"
  >
    <div class="scroll-height"></div>
    <ul 
      class="positions-line" 
      id="positions-line"
      [ngStyle]="{'height': ((positions.length * 200) + 150) + 'px' }"
    >

      <li 
        class="positions-line__item" 
        *ngFor="let position of positions; index as i; first as isFirst, last as isLast"
      >
        <div class="positions-line__segment">

          <div class="positions-line__index">
            <span></span>
          </div>

          <div 
            class="positions-line__node positions-line__node--staff"
          >
            <span>{{position.initials.toUpperCase()}}</span>
          </div>

        </div>

        <div 
          class="positions-line__segment"
          *ngIf="positions.length > 2 || isLast"
        >

          <div 
            class="positions-line__node positions-line__node--add" 
            (click)="onAddClick($event, position)"
          >
            <button 
              class="button-add button-add--sm"
              [ngClass]="{
                'active': !!position.pickingNext, 
                'inactive': !position.pickingNext && addingStaff
              }"
            >
              <span>+</span>
            </button>
          </div>

          <div 
            class="positions-line__indicator" 
            [ngClass]="{'active': !!position.pickingNext }"
          ></div>

        </div>
      </li>

      <li 
        class="positions-line__item"
        *ngIf="!positions.length"
      >
        <div class="positions-line__segment">
          <div class="positions-line__node positions-line__node--add">
            <button class="button-add button-add--sm" (click)="onAddClick($event, firstPositionItem)" [ngClass]="{
                    'active': !!firstPositionItem.pickingNext,
                    'inactive': !firstPositionItem.pickingNext && addingStaff
                  }">
              <span>+</span>
            </button>
          </div>
          <div class="positions-line__indicator" [ngClass]="{'active': !!firstPositionItem.pickingNext }"></div>
        </div>
      </li>
      
    </ul>
  </div>
</main>
<aside
  class="standups-new-aside"
  [ngClass]="{'adding-staff' : addingStaff }"
  >
  <app-staff-members-list 
    class="app-staff-members-list" 
    [staffMembers]="DBStaffMembers"
    [selectorY]="selectorY"
    [selectedStaffMembers]="selectedStaffMembers"
  ></app-staff-members-list>
</aside>
<footer *ngIf="positions.length">
  <div class="nav nav--gradient">
  
    <div class="nav__gradient"></div>
  
    <div class="row no-gutters">
  
  
      <div class="col">
        <div class="nav__item">
          <div class="nav__divider">
            <a 
              routerLink="/history/{{dayID}}/preview"
              (click)="updateCurrentStandupService()"
              class="nav__link lighten"
            >
              <span>preview</span>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="nav__item">
          <a href="#" class="nav__link cta">
            <span>save</span>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</footer>
