<main>
  <div class="standups-calendar">
    <div class="container">
      <div class="calendar-header pt-5">
  
        <div class="row no-gutters">
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Mon</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Tue</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Wed</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Thu</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Fri</span>
            </div>
          </div>
  
        </div>
  
      </div>

      
  
      <div *ngFor="let week of days; let i = index" ng-if="i % 5 === 0" class="calendar-row mt-4">
        <div class="row no-gutters">

          <div *ngFor="let day of days.slice(i, i + 5); let j = index" class="col">
            <div *ngIf="days[(i*5) + j]">
              <div class="calendar-cell calendar-day">
                <div class="calendar-day__content">
                  <div class="calendar-day__diagram"></div>
                </div>
                <div class="calendar-day__date mt-2">
                  <span>{{days[(i*5) + j].date.split('-')[1]}}/{{days[(i*5) + j].date.split('-')[2]}}</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  
    </div>
  </div>
</main>
<footer>
  <app-footer-nav></app-footer-nav>
</footer>