<main>
  <div class="standups-calendar">
    <div class="container">
      <div class="calendar-header pt-5">
  
        <div class="row no-gutters">
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Mon</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Tue</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Wed</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Thu</span>
            </div>
          </div>
  
          <div class="col">
            <div class="calendar-cell calendar-title">
              <span>Fri</span>
            </div>
          </div>
  
        </div>
  
      </div>

      
  
      <div class="calendar-row mt-4" *ngFor="let week of calendarArray; let i = index">
        <div class="row no-gutters">

          <div class="col" *ngFor="let day of week; let j = index">
            <div>
              <div class="calendar-cell calendar-day">

                <div class="calendar-day__content">

                  <div *ngIf="week[j].ID">
                    <a routerLink="/history/{{week[j].ID}}">
                      <div class="calendar-day__diagram"></div>
                    </a>
                  </div>

                  <div *ngIf="!week[j].ID">

                      <button 
                        class="button-add button-add--sm button-add--black"
                        *ngIf="
                          week[j].date.toISOString().split('T')[0] != todayDate.toISOString().split('T')[0] &&
                          week[j].date.getTime() < todayDate.getTime()"
                      >
                        <span>+</span>
                      </button>
      
                      <button 
                        class="button-add button-add--sm"
                        *ngIf="
                           week[j].date.toISOString().split('T')[0] 
                          ===
                          todayDate.toISOString().split('T')[0]"
                      >
                        <span>+</span>
                      </button>

                  </div>

                </div>
                
                <div class="calendar-day__date mt-2">
                  <span>
                    {{week[j].date | date:'d/M'}}
                  </span>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
  
    </div>
  </div>
</main>
<footer>
  <app-footer-nav
    [gradient]="true"
  ></app-footer-nav>
</footer>