<main>

  <div class="nav-other__back">
    <a routerLink="/team">back</a>
  </div>

  <div class="container">
    <div class="pt-2">


      <div class="pt-2 pb-2">
        <div class="row">
          <div class="col">
            <div class="staff-member-pic__container">
              <div class="staff-member-pic__head"></div>
              <div class="staff-member-pic__body"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="table pt-2">

        <div class="row">

          <div class="col">
            <div class="table__keys">
              <p class="text-right">first name</p>
              <p class="text-right">last name</p>
              <p class="text-right">role</p>
              <p class="text-right">active</p>
              <p class="text-right">1st stand-up</p>
              <p class="text-right">stand-ups</p>
            </div>
          </div>

          <div class="col">
            <div class="table__values">
              <p class="text-left">{{staffMember.firstName}}</p>
              <p class="text-left">{{staffMember.lastName}}</p>
              <p class="text-left">{{staffMember.role}}</p>
              <p class="text-left">{{staffMember.current}}</p>
              <p class="text-left">n/a</p>
              <p class="text-left">n/a</p>
            </div>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col text-center">
          <a routerLink="/team/{{staffMember.ID}}/edit">
            <h5 class="cta mt-3">edit</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <app-footer-nav></app-footer-nav>
</footer>