<main>

  <div class="container">
    <div class="pt-5">


      <div class="pt-2 pb-2">
        <div class="row">
          <div class="col">
            <app-standup-diagram
              [width]="300"
              [positions]="positions"
              [summaries]="summaries"
              [staffMembers]="DBStaffMembers"
            ></app-standup-diagram>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="row">
      
          <div class="col">
            <div class="table__keys">
              <p class="text-right">date</p>
              <p class="text-right">staff</p>
              <!-- <p class="text-right">duration</p> -->
            </div>
          </div>
      
          <div class="col">
            <div class="table__values">
              <p class="text-left">
                {{date | date:'d/M/y'}}
              </p>
              <p class="text-left">{{positions.length}}</p>
              <!-- <p class="text-left">N/A</p> -->
            </div>
          </div>
      
        </div>
      </div>

    </div>
  </div>
</main>
<footer>
  <div class="nav nav--gradient">
  
    <div class="nav__gradient"></div>
  
    <div class="row no-gutters">
  
  
      <div class="col">
        <div class="nav__item">
          <div class="nav__divider">
            <a 
              routerLink="/history/{{dayID}}/edit"
              class="nav__link lighten"
            >
              <span>edit</span>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="nav__item">
          <a href="#" class="nav__link cta">
            <span>save</span>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</footer>
