<div 
  class="nav"
  [ngClass]="{'nav--gradient' : gradient }"
>

  <div class="nav__gradient"></div>

  <div class="row no-gutters">

    <div class="col">
      <div class="nav__item">
        <div class="nav__divider">
          <a routerLink="/today" routerLinkActive="lighten" class="nav__link">
            <span>today</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="nav__item">
        <div class="nav__divider">
          <a routerLink="/standups" routerLinkActive="lighten" class="nav__link">
            <span>history</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="nav__item">
        <a routerLink="/staff-members" routerLinkActive="lighten" class="nav__link">
          <span>team</span>
        </a>
      </div>
    </div>

  </div>
</div>
