<main>
  
  <svg
    routerLink="/staff-members/{{staffMember.ID}}"
    class="nav-other__close"
    width="30px"
    height="30px"
    viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="0 27.3958333 2.60416667 30 15 17.6041667 27.3958333 30 30 27.3958333 17.6041667 15 30 2.60416667 27.3958333 0 15 12.3958333 2.60416667 0 0 2.60416667 12.3958333 15"></polygon>
    </g>
  </svg>

  <div class="container">
    <div class="pt-2">


      <div class="pt-5 pb-5">
        <div class="row">
          <div class="col">
            <div class="staff-member-pic__container">
              <div class="staff-member-pic__head"></div>
              <div class="staff-member-pic__body"></div>
            </div>
          </div>
        </div>
      </div>

      <app-staff-member-details-form 
        [(form)]="staffMemberDetailsForm"
        [staffMember]="staffMember"
      ></app-staff-member-details-form>

    </div>
  </div>
</main>
<footer>
  <div class="nav">
  
    <div class="nav__gradient"></div>
  
    <div class="row no-gutters">
  
      <div class="col">
        <div class="nav__item">
          <a
            (click)="onSubmit()" 
            class="nav__link">
            <span>update</span>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</footer>