<main>
  
  <div class="nav-other__back">
    <a routerLink="/history">back</a>
  </div>

  <div class="container">
    <div class="pt-5">


      <div class="pt-2 pb-2">
        <div class="row">
          <div class="col">
            <app-standup-diagram
              [width]="300"
              [positions]="DBPositions"
              [summaries]="DBSummaries"
              [staffMembers]="DBStaffMembers"
            ></app-standup-diagram>
          </div>
        </div>
      </div>

      <div class="table pt-2">
      
        <div class="row">
      
          <div class="col">
            <div class="table__keys">
              <p class="text-right">date</p>
              <p class="text-right">staff</p>
              <p class="text-right">duration</p>
            </div>
          </div>
      
          <div class="col">
            <div class="table__values">
              <p class="text-left">
                {{DBDay.date | date:'d/M/y'}}
              </p>
              <p class="text-left">{{DBPositions.length}}</p>
              <p class="text-left">N/A</p>
            </div>
          </div>
      
        </div>
      
      </div>
      <!-- <div class="row">
        <div class="col text-center">
          <a 
            (click)="updateCurrentStandupService()"
            routerLink="/history/{{DBDay.ID}}/edit"
            >
            <h5 class="cta mt-3">edit</h5>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</main>
<footer>
  <app-footer-nav></app-footer-nav>
</footer>
