<main>
  <div class="container">
    <div class="pt-5">
      <div class="row">
        <div class="col">
          <div class="standup-diagram__container">
            <svg class="standup-diagram" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path class="standup-diagram__path" d="M247,172L228,88L247,128L53,128L107,60L150,50L107,240L150,250L53,172L228,212L193,240L193,60L72,88L72,212"></path>
              <text class="standup-diagram__initials" x="150" y="25">VG</text>
              <text class="standup-diagram__initials" x="204" y="37">ER</text>
              <text class="standup-diagram__initials" x="248" y="72">EC</text>
              <text class="standup-diagram__initials" x="272" y="122">IG</text>
              <text class="standup-diagram__initials  active" x="272" y="178">DW</text>
              <text class="standup-diagram__initials" x="248" y="228">FH</text>
              <text class="standup-diagram__initials" x="204" y="263">GR</text>
              <text class="standup-diagram__initials" x="150" y="275">JM</text>
              <text class="standup-diagram__initials" x="96" y="263">MM</text>
              <text class="standup-diagram__initials" x="52" y="228">EO</text>
              <text class="standup-diagram__initials" x="28" y="178">MO</text>
              <text class="standup-diagram__initials" x="28" y="122">KS</text>
              <text class="standup-diagram__initials" x="52" y="72">JW</text>
              <text class="standup-diagram__initials" x="96" y="37">OW</text>
              <circle class="standup-diagram__dot" cx="247" cy="172" r="5"></circle>
            </svg>
          </div>
        </div>
      </div>
      <div class="table">
      
        <div class="row">
      
          <div class="col">
            <div class="table__keys">
              <p class="text-right">date</p>
              <p class="text-right">staff</p>
              <p class="text-right">duration</p>
            </div>
          </div>
      
          <div class="col">
            <div class="table__values">
              <p class="text-left">12/12/2012</p>
              <p class="text-left">22</p>
              <p class="text-left">30 sec</p>
            </div>
          </div>
      
        </div>
      
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="">
            <p class="cta">edit</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <app-footer-nav></app-footer-nav>
</footer>
