// Add

.button-add {
  background: $yellow;
  border-radius: 50%;
  padding: 0;
  border: none;
  position: relative;
  overflow: hidden;
  & > span {
    display: inline-block;
    position: absolute;
  }
  &.active {
    background-color: $white;
    color: $black;
  }
  &.inactive {
    display: none;
  }
  &:focus {
    outline: none;
  }
}

.button-add--sm {
  width: $button-add-sm-width;
  height: $button-add-sm-width;
  & > span {
    font-size: 27px;
    top: -11px;
    left: 3px;
  }
}

.button-add--md {
  width: $button-add-md-width;
  height: $button-add-md-width;
  & > span {
    font-size: 47px;
    top: -23px;
    left: 2px;
  }
}

.button-add--lg {
  width: $button-add-lg-width;
  height: $button-add-lg-width;
  & > span {
    font-size: 100px;
    top: -45px;
    left: 9px;
  }
}

.button-add--black {
  background: $black;
  color: $white;
}