// Footer

.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 20px;
}

.nav__gradient {
  display: none;
}

.nav__item {
  background: $black;
  height: $nav-item-height;
  text-align: center;
  padding-top: ($nav-item-height - $nav-divider-height)  * (1/2);
}

.nav__divider {
  height: $nav-divider-height;
  border-right: $gray-666 solid $line-weight-default;
}

.nav__link {
  color: $gray-666 !important;
  line-height: $nav-divider-height;
  &.lighten {
    color: $white !important;
  }
  &.cta {
    color: $yellow !important;
  }
}

.nav--gradient {
  .nav__gradient {
    display: block;
    height: $nav-gradient-height;
    background: linear-gradient(rgba(0, 0, 0, 0), $black)
  }
}

// Other

.nav-other__close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.nav-other__back {
  position: fixed;
  top: 32px;
  left: 35px;
  z-index: 1;
}