.calendar-cell {
  text-align: center;
}

.calendar-title {
  font-size: 1.2rem;
}

.calendar-day__content {
  height: $calendar-day-width;
  width: $calendar-day-width;
  margin: 0 auto;
  position: relative;
}

.calendar-day__diagram {
  width: 100%;
  height: 100%;
  border: solid $white 1px;
  border-radius: 50%;
}

.calendar-day__add {
  border-radius: 50%;
  font-size: 26px;
  line-height: $node-width-add - 2;
  font-weight: bold;
  width: $node-width-add;
  height: $node-width-add;
  position: absolute;
  top: ($calendar-day-width / 2) - 10px;
  left: ($calendar-day-width / 2) - 10px;
}

.calendar-day__add--today {
  background-color: $yellow;
  color: $black;
}

.calendar-day__date {
  color: $gray-666;
}
