.staff-member-pic__container {
  border: $white solid $line-width-default;
  border-radius: 50%;
  overflow: hidden;
  height: $staff-member-img-width;
  width: $staff-member-img-width;
  margin: 0 auto;
  position: relative;
}

.staff-member-pic {
    width: 100%;
    filter: saturate(0%);
    filter: contrast(155%) saturate(0%);
}

.staff-member-pic__body {
  position: absolute;
  width: $staff-member-body-width;
  height: $staff-member-body-width;
  background-color: $white;
  border-radius: 50%;
  top: 50%;
  left: calc( 50% - #{$staff-member-body-width / 2} );
}

.staff-member-pic__head {
  height: $staff-member-head-height;
  width: $staff-member-head-width;
  background-color: $white;
  border-radius: 50%;
  top: 10%;
  left: calc( 50% - #{$staff-member-head-width / 2} );
  position: absolute;
}