.standup-diagram {
  height: 300px;
  width: 300px;
}

.standup-diagram__path {
  stroke: $white;
  fill: transparent;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.standup-diagram__initials {
  fill: $gray-666;
  &.active {
    fill: $white;
  }
  &.small {
    display: none;
  }
}

.standup-diagram__dot {
  fill: $white;
  &.small {
    display: none;
  }
}