.calendar-cell {
  text-align: center;
}

.calendar-title {
  font-size: 1.2rem;
}

.calendar-day__content {
  height: $calendar-day-width;
  width: $calendar-day-width;
  margin: 0 auto;
  position: relative;
}

.calendar-day__diagram {

}

.calendar-day__add {
  width: $button-add-sm-width;
  height: $button-add-sm-width;
  position: absolute;
  top: ($calendar-day-width / 2) - ($button-add-sm-width / 2);
  left: ($calendar-day-width / 2) - ($button-add-sm-width / 2);
}

.calendar-day__date {
  color: $gray-666;
}
