@import "../../scss/main";

.button-add {
  position: fixed;
  top: 50px;
  right: 50px;
}

.app-staff-members-list {
  position: fixed;
  left: 80px;
}

.staff-member-selector {
  width: 30px;
  height: 3px;
  background: white;
  position: fixed;
  top: calc(50vh - #{$nav-item-height / 2});
  left: 27px;
}